<header>
    {{!-- <nav>
        <div class="container_14">
            <div class="row_14">
                <div class="col_12 nav_blur">
                    <a href="/" class="ul_li_14"><img src="/images/logo.png" alt="" width="300" height="80"></a>
                    <ul class="ul_list">
                        <li class="ul_li_list">
                            <a href="/" class="ul_li_a_all home">Bosh sahifa</a>
                        </li>
                        <li class="ul_li_list">
                            <a href="/about" class="ul_li_a_all about">O'zimiz haqimizda</a>
                        </li>
                        <li class="ul_li_list">
                            <a href="/maqolalar" class="ul_li_a_all about">Hamma maqolalar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> --}}
    <nav class="navbar_blur clientNavbar">
        <div class="nav-bar">
            {{!-- <i class='bx bx-menu sidebarOpen'></i> --}}
            <i class="fa-solid fa-bars bx bx-menu sidebarOpen"></i>
            <span class="logo navLogo"><a href="/" class="ul_li_14"><img src="/images/logo.png" alt="" width="300"
                        height="80" class="Media320"></a></span>


            <div class="menu navbar_bluraasdfsadfsfasdfsadfsdf">
                <div class="logo-toggle">
                    <span class="logo"><a href="/" class="ul_li_14"><img src="/images/logo.png" alt="" width="300"
                                height="80" class="Media320"></a></span>
                    <i class='fa-sharp fa-solid fa-xmark bx bx-x siderbarClose '></i>
                </div>

                <ul class="nav-links ul_list">
                    {{!-- <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li> --}}
                    <li class="ul_li_list">
                        <a href="/" class="ul_li_a_all home">Bosh sahifa</a>
                    </li>
                    <li class="ul_li_list">
                        <a href="/about" class="ul_li_a_all about">O'zimiz haqimizda</a>
                    </li>
                    <li class="ul_li_list">
                        <a href="/maqolalar" class="ul_li_a_all about">Hamma maqolalar</a>
                    </li>
                </ul>
            </div>

            <i class='bx bx-x cancel'></i>
            <div class="darkLight-searchBox">
                {{!-- <div class="dark-light">
                    <i class='fa-solid fa-moon bx bx-moon moon'></i>
                    <i class='fa-solid fa-sun-bright bx bx-sun sun'></i>
                </div> --}}

                <div class="searchBox">
                    {{!-- <div class="searchToggle"> --}}
                        {{!-- <i class='bx bx-search search'></i> --}}
                        {{!-- </div> --}}
                </div>
            </div>
        </div>
    </nav>
</header>