<div class="container_14">
    <h1 class="about_title">{{name}}</h1>
    <div class="row_14">
        <div class="col_12 about_col_media">
            <div class="about_img">
                <img src="https://media.istockphoto.com/id/1211920429/vector/school-hallway-night-interior-with-doors-lockers.jpg?s=612x612&w=0&k=20&c=vXDwENvDebcRGPDMVZr45qu5VE6nTTjHc5mjIQvnrtQ="
                    alt="">
            </div>
            <div class="about_both">
                <div class="about_text">
                    <h2 class="about_title2">Maktab haqidagi faktlar</h2>
                </div>
                <div class="fanlar_block fanlar_block_media">
                    <div class="box box_media">
                        <img src="/images/about-icon-2.png" width="100" height="100" alt="">
                        <h3>O'quvchilar soni</h3>
                        <h4>953 ta</h3>
                    </div>
                    <div class="box box_media">
                        <img src="/images/rooms.png" width="100" height="100" alt="">
                        <h3>Xonalar soni</h3>
                        <h4>43 ta</h3>
                    </div>
                    <div class="box box_media">
                        <img src="/images/teacher.png" width="100" height="100" alt="">
                        <h3>O'qituvchilar soni</h3>
                        <h4>59 ta</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>