<section class="index_block">
    <div class="container_14">
        <div class="row_14">
            <div class="col_12 block_images">
                {{!-- <img class="school_image" src="/images/school.jpg" alt=""> --}}
                <div class="swiper home-slider">

                    <div class="swiper-wrapper">

                        <section class="swiper-slide slide" style="background: url(images/oldi-3.jpg) no-repeat;">
                            <div class="content">
                                <h3 class="block_title">Maktabni old ko'rinishi</h3>
                                <p class="block_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit labore
                                    dolore unde, quidem corrupti?</p>
                            </div>
                        </section>

                        <section class="swiper-slide slide" style="background: url(images/school.jpg) no-repeat;">
                            <div class="content">
                                <h3 class="block_title">Oldi ko'rinishi</h3>
                                <p class="block_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit labore
                                    dolore unde, quidem corrupti?</p>
                            </div>
                        </section>

                        <section class="swiper-slide slide" style="background: url(images/jis-tar.jpg) no-repeat;">
                            <div class="content">
                                <h3 class="block_title">Maktab sport zali</h3>
                                <p class="block_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit labore
                                    dolore unde, quidem corrupti?</p>
                            </div>
                        </section>

                        <section class="swiper-slide slide" style="background: url(images/tarix.jpg) no-repeat;">
                            <div class="content">
                                <h3 class="block_title">Tarix xonasi</h3>
                                <p class="block_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit labore
                                    dolore unde, quidem corrupti?</p>
                            </div>
                        </section>
                         <section class="swiper-slide slide" style="background: url(images/ingliz.jpg) no-repeat;">
                            <div class="content">
                                <h3 class="block_title">Ingliz tili xonasi</h3>
                                <p class="block_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit labore
                                    dolore unde, quidem corrupti?</p>
                            </div>
                        </section>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
                {{!-- <div id="js-prev1" class="swiper-button-prev"></div>
                <div id="js-next1" class="swiper-button-next"></div> --}}
            </div>
        </div>
    </div>
</section>