<section class="fanlar">
    <h2 class="fanlar_title">Bizning fanlar</h2>
    <div class="container_14">
        <div class="row_14">
            <div class="col_12">
                <div class="fanlar_block owl-carousel">
                    {{#if yutuq.length}}
                    {{#each yutuq}}
                    <div class="box">
                        <img src="images/{{img}}" width="200" height="200" alt="">
                        <h3 class="yutuqTitle">{{yutuqTitle}}</h3>
                        <h4 class="yutuqText">{{yutuqText}}</h3>
                    </div>
                    {{/each}}
                    {{/if}}
                    {{!-- <div class="box">
                        <img src="https://img.freepik.com/free-vector/illustration-paint-colour_53876-5925.jpg"
                            width="200" height="200" alt="">
                        <h3>Informatika</h3>
                        <h4>Yutuqlar: 2</h3>
                    </div>
                    <div class="box">
                        <img src="https://img.freepik.com/free-vector/illustration-paint-colour_53876-5925.jpg"
                            width="200" height="200" alt="">
                        <h3>Kimyo</h3>
                        <h4>Yutuqlar: 2</h3>
                    </div>
                    <div class="box">
                        <img src="https://img.freepik.com/free-vector/illustration-paint-colour_53876-5925.jpg"
                            width="200" height="200" alt="">
                        <h3>Tarix</h3>
                        <h4>Yutuqlar: 2</h3>
                    </div>
                    <div class="box">
                        <img src="https://img.freepik.com/free-vector/illustration-paint-colour_53876-5925.jpg"
                            width="200" height="200" alt="">
                        <h3>Geografiya</h3>
                        <h4>Yutuqlar: 2</h3>
                    </div>
                    <div class="box">
                        <img src="https://img.freepik.com/free-vector/illustration-paint-colour_53876-5925.jpg"
                            width="200" height="200" alt="">
                        <h3>Biologiya</h3>
                        <h4>Yutuqlar: 2</h3>
                    </div>
                    <div class="box">
                        <img src="https://img.freepik.com/free-vector/illustration-paint-colour_53876-5925.jpg"
                            width="200" height="200" alt="">
                        <h3>Rasm</h3>
                        <h4>Yutuqlar: 2</h3>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</section>